$base-font: 'Proxima Nova', 'Arial', sans-serif;
$base-font-size: 18px;
$base-line-height: 24px;

$dark-color: #181818;
$blue-color: #0895D3;
$dark-blue-color: #03243E;
$dark-blue-color-hover: #05365B;
$white-color: #FFF;
$black-color: #000;
$light-color: #EBEBEB;

$blue-gradient: linear-gradient(90deg, #074C7D 0%, #031F2B 100%);

$green-color: #58d290;
$red-color: #ff603e;
$yellow-color: #FDC500;

$vk-color: #4a76a8;
$fb-color: #3b5998;
$in-color: #007cb7;
$tg-color: #229ace;